.imagem-centralizada {
    width: 100%;
    height: 100%;
}
.botaopagina2{
display: inline-block;
padding: 0.6em 1.5em;
background: #007bff;
color: #ffffff;
text-decoration: none;
border-radius: 100px;
transition: transform 0.2s ease;
}
.botaopagina2:hover {
 transform: scale(1.1); 
background-color: #000983;
 box-shadow: 0 4px 12px rgba
}
.pagamento{
    width: 400px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    border-color: black;
}
.imagem {
    width: 200px;
    height: 150px;
  }
