@charset "UTF-8";
html, body{
    background-color: rgb(95, 52, 52);
}
div{
    color: white;
}
label{
    color: white;
}
legend{
    color: white;
}
thead{
    color: white;
}
table{
    color: white;
}
h1{
    background-color: rgba(255, 0, 0, 0.486);
    
    color: white;
    text-align: center;
}
h2{
    background-color: rgba(255, 0, 0, 0.486);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}
h3{
    text-align: center;
    background-color: rgba(255, 0, 0, 0.486);
    
    color: white;
}
p{
    color: white;
}
ol, ul, li{
    color: white;
}
.imagem-centralizada {
    width: 100%;
    height: 100%;
}
.botaopagina2{
display: inline-block;
padding: 0.6em 1.5em;
background: #bd2a2ad5;
color: #ffffff;
text-decoration: none;
border-radius: 100px;
transition: transform 0.2s ease;
}
.botaopagina2:hover {
 transform: scale(1.1); 
background-color: #5f00004d;
 box-shadow: 0 4px 12px rgba
}
.pagamento{
    width: 400px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    border-color: black;
}
.imagem {
    width: 200px;
    height: 150px;
  }
